@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap');


html {
font-family: 'PT Sans Narrow', sans-serif;
}

body {
  background-color: #0f5575;
}

.content {
  max-width: 600px;
  min-width: 250px;
  margin: auto;
  color: white;
}

a {
  color: rgb(0, 255, 234);
}

ul {
  font-size: 1.2em;
  letter-spacing: 0.06em;
  font-family: "Courier", 'Courier New', Courier, monospace;
}
ul *  {
  padding-left: 15px;
}
ul li div {
  display: grid;
  grid-template-columns: 1fr;
}

.drop-shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.59);
  border-radius: 0px;
}

header {
  background-color: #5d6e1c;
  padding: 30px;
  align-items: center;
  text-align:center;
    margin: 0 auto;
}

.text-shadow {
  text-shadow: 2px 2px 5px #000000;
}
.page-heading {
  margin: auto;
  font-size: 2.5em;
}

.section-heading {
  font-size: 1.8em;
  padding-left: 30px;
}

footer {
  background-color: #5d6e1c;
  padding: 15px;
  margin-top: 2em;
  text-align: center;
  font-size: 1.3em;
  letter-spacing: 0.05em;
}

#last-modified {
color: rgb(0, 0, 0);
font-size: 0.8em;
}

.emphasized { 
  font-style: italic;
  
}
