/* 64em is also 1028px (if basefont is 16px) */
@media only screen and (min-width: 64rem) {

    header, nav, main, footer {
        max-width: 90rem;
        margin:auto;
    }

/*----------- BODY --------------*/



/*----------- HEADER --------------*/



/*----------- NAVIGATION --------------*/

nav {
    flex-direction: row-reverse;
}
nav ul {
    width: 80%;
}

.navigation {
    display: flex;
}
.navigation li {
    display: block; /* change state in small view */
    flex: 1 1 auto;
}
.navigation a {
    text-align: center;
}
.navigation li:first-child {
    display: none;
}

/*----------- MAIN --------------*/

.content {
    grid-template-columns: 1fr 1fr 1fr;
  }

/*----------- FOOTER --------------*/
    
} /* end of media query */