/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


:root {
    /* colors from my palette */

    --primary-color: #93BF53;
    --secondary-color: #387366;
    --accent-color: #2D3E40;

    --main-font-color: rgb(157, 221, 162);
    --main-headings-color: rgb(161, 224, 89);
    --background-color: #091c25;
    --section-background-color: #69bef0;
}




/*----------- BODY --------------*/
body {
    font-size: 18px;
    font-family: 'Quicksand', Verdana, sans-serif;
    background-color: var(--background-color);
}
h1, h2, h3, h4{
    font-family: 'Playfair Display', serif;
}




/*----------- HEADER --------------*/
header {
    padding: .8rem 2%;
    background-color: var(--section-background-color);
    display: grid;
    grid-template-columns: 100px auto;
}
header div {
    margin-left:10px;
}

header h1 {margin: 0;}
header h2 {margin: 0; font-weight: normal; padding-top:5px;}


.date {
    grid-column: span 2;
    text-align: center;
    margin-top: 0.4em;
}


/*----------- NAVIGATION --------------*/
nav {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

nav div a {
    margin-right: 2px;
    margin-left: 2px;
}
nav div {
    background-color: var(--secondary-color);
    padding-right: 15px;
    padding-left: 15px;
    width: 100%;
    height: 2.15rem;
    display: flex;
}

nav div a img{
margin-top: 5px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 80%;
    background-color: var(--secondary-color);
}

nav ul li a {
    display: block;
    color: #eee;
    padding: .5rem 0;
    text-decoration: none;
    font-size: 1rem;
    text-align: center;
    transition: 0.5s;
}


nav ul li a:hover {
    background-color: #7cccfa;
    color: black;
    font-weight: bold;
}
nav ul li.active a {
    background-color: #4b6428;
    color: #fff;
    
}

/* Code for responsive hamburger menu ***************/

.navigation li:first-child {
	display: block;
}
.navigation li {
	display: none;
}

/* the onclick JS toggles the .reponsive class from display none (.navigation li) to display block because the responsive class is added to the end of the class list like this in HTML.
  <ul class="navigation responsive">
*/
.responsive li {
	display: block;
}







/*----------- MAIN --------------*/

main {
    padding: 0 2%;
    min-height: 10rem;

    color: var(--main-font-color);
}

main h1 {
    font-size: 1.6em;
    color: var(--main-headings-color);
}
main h2 {
    color: #31c469;
}


.content {
display: grid;
grid-template-columns: 1fr;
padding: 1rem 2%;
grid-gap: 10px;
}

section {
    border: 1px solid silver;
    margin: 0.2em;
    padding: 0.5em;
    min-height: 12em;
}

.hero-action {
position:relative;
overflow:hidden;
padding: 0;
border: 0;
}

.hero-action h2 {
    position:absolute;
    margin: 1.5rem;
    color:#85e3ff;
    text-shadow:  2px 2px #000000;
}

.hero-action button {
    position:absolute;
    right: 2rem;
    bottom: 1rem;
}

.hero-action img{
    position:absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.text-center{
    text-align:center;
}

.content section:nth-child(7) { /*JOIN SECTION*/
display: none;
}



button {
    padding: 0.6rem;
    border-radius: 16px;
    background-color:#53bf73;
    box-shadow: rgba(0, 0, 0, 0.8) 0px 2px 4px, rgba(0, 0, 0, 0.5) 0px 7px 13px -3px, rgba(0, 0, 0, 0.3) 0px -3px 0px inset;
}

button:hover {
    background-color:#8affad;
    cursor: pointer;
}

.join {
    display: flex;
    justify-content: center;
    text-align:center;
}

.join button {
    width:90%;
    margin: 0 auto;
}


/*----------- FOOTER --------------*/
footer {
    background-color: var(--section-background-color);
    padding: .5rem 2%;
    text-align: center;
    font-weight: bold;
    font-size: 0.9em;
}

hr {
    border: 1px solid rgba(41, 41, 41, 0.233);
}

.foot-logo-box {
    display: block;
}

