/* 64em is also 1028px (if basefont is 16px) */
@media only screen and (min-width: 64rem) {

    header, nav, main, footer {
        max-width: 90rem;
        margin:auto;
    }

/*----------- BODY --------------*/



/*----------- HEADER --------------*/



/*----------- NAVIGATION --------------*/

nav {
    flex-direction: row-reverse;
}
nav ul {
    width: 80%;
}
nav div{
    justify-content: right;
}
.navigation {
    display: flex;
}
.navigation li {
    display: block; /* change state in small view */
    flex: 1 1 auto;
}
.navigation a {
    text-align: center;
}
.navigation li:first-child {
    display: none;
}

/*----------- MAIN --------------*/

.content {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .content section:nth-child(1),
  .content section:nth-child(2) {
    grid-column: span 1;
  } 

  /*HERO SECTION*/
  .content section:nth-child(1){ 
      grid-row: 1 / 3;
      grid-column: 2 / 4;
  }

    /*SPOTLIGHTS*/
  .content section:nth-child(5){
    grid-row: 1;
    grid-column: 4;
  }
  .content section:nth-child(6) {
    grid-row: 2;
    grid-column: 4;
    }

    /*JOIN SECTION*/
  .content section:nth-child(7) {
    grid-column: span 1;
    grid-row: 3;
    grid-column: 1;
    }

    /* NEWS RELEASE */
    .content section:nth-child(4) {
        grid-column: span 3;
        grid-column: 1/5;
        grid-row: auto;
    }


    .discover-grid {
        grid-template-columns: 1fr 1.7fr;
        grid-gap: 4rem 10rem; 
        align-items: center;
        margin: auto;
      }

      
    .form-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 1rem 1%;
        grid-gap: 0.1rem; 
      }
      .benefits-table {
      display:inline-block;
      border: none;
      }

      .directory-grid section {
        grid-template-columns: 2fr 2fr 2fr 1fr;
      }


      .panelview {
        grid-template-columns: 1fr 1fr 1fr;
    }

  
    .outside-div
    {
        padding: 1em min(25vw, 28em);
    }

    .spotlight img {
      width: 60%;

    }
    
    #forecast-container
    {
    max-width: 40em;
    }

    #forecast-div{
      grid-auto-columns: minmax(0, 1fr);
grid-auto-flow: column;
      grid-gap: 1em;
    }

    .hero-action img{
      object-position: 50% 60%;
    }

    .spotlight ul
    {
        width: 75%;
    }

    .content .hero-action {
      min-height:28em;
  }

  .section-news
  {
    padding: 2em 4em;
    margin: 3em 2.5em 0em;
  }

  .specialbox p
  {
  font-size: 0.75em;
  }



  .specialized div
  {
      position: absolute;
      margin-top: 50%;
      margin-left: 50%;
      margin-right: -50%;
      transform: translate(-70%, -70%);
  }
  
  .specialized
  {
  
      margin-top: 0;
  }

  .specialized ul
  {
      width:100%;
      font-size: medium;
  }


.homepage button {
    background-color:#0e2b42ad;
}
.hero-action button {
  transform: translate(-50%,0);
}


.p-space
{
    margin: 1em 0;
}

.event-info {
  width: 70%;
}






.cards section
{
    grid-template-columns: 1fr 1fr 1fr;

    background-image: linear-gradient( #e9c93b , #ccab51 43%, rgb(199, 161, 57) 45%, rgb(168, 141, 50) 55%, #9c601c 99%, #0a2442);
    border-radius: 2em;
}
.cards div
{
margin-bottom: 0;
padding-bottom: 0;
}
.cards section h2{
  grid-column: 1/4;
}

/* address */
.cards section p:nth-child(2)
{
  grid-row: 2/3;
  grid-column: 1/2;
}

.cards section p:nth-child(3)
{
  grid-column: 2/3;
  grid-row: 2/3;
}

/* email */
.cards section p:nth-child(4) 
{
  grid-column: 3/4;
  grid-row: 2/3;
}

/* services */
.cards section div:nth-child(5) 
{
grid-row: 3/5;
grid-column: 2/3;
align-self: center;
}

/* history */
.cards section div:nth-child(6) 
{
grid-column: 1/2;
grid-row: 5/6;
align-self: flex-start;
margin-top: 3em;
}


/* ordinance schedule */
.cards section p:nth-child(7)
{
grid-column: 3/4;
grid-row: 3/4;
align-self: center;
margin-top: 3em;
margin-bottom: 1em;
}

/* session schedule */
.cards section p:nth-child(8)
{
grid-column: 3/4;
grid-row: 4/5;
margin-bottom: 0.5em;
}



/* closures */
.cards section div:nth-child(9)
{
grid-row: 3/5;
grid-column: 1/2;
}

.cards section div:nth-child(10) 
{
grid-column: 2/4;
grid-row: 5/6;
margin-top: 1em;
width: 80%;
justify-self: flex-end;
margin-bottom: 2em;
margin-right: 4em;
}




.form-page
{
    display: flex;
    flex-direction: row;
    min-height: auto;
}

.form-page img
{
  position: relative;
  width:50%;
  margin: 1em 0 3em;
}

.form-container
{
  position: relative;
  width: 50%;
  margin: 1em 0 3em;
  padding: 3em 0;
  transform: translateX(0);
  background-color:rgb(27, 25, 19);
;  display: block;
  text-align: center;
}

.form-container div
{
  display: block;
  text-align: center;
}


.form-page form h2
{
    color: rgb(66, 24, 24);
}


.form-container form
{
  display: inline-block;
  text-align: left;
  margin: auto auto;

  background: linear-gradient( rgb(230, 203, 52) 5%, rgb(206, 125, 32) 95%);
   
  border-radius: 0;
  box-shadow: none;
}

.reception-food-stack
{
display: grid;
grid-template-columns: 1fr 1fr;
}

.reception-food-stack div:nth-child(1)
{
    grid-row: 1/4;
  grid-column: 1/2;
  padding: 3em 2em 2em 2em;
  width: 100%;
}
.reception-food-stack div:nth-child(1) img
{
margin: 0;
padding: 0;
width: 100%;
}

.reception-food-stack h2
{
text-align: left;
padding: 2em 1em 1em 0.5em;
grid-row: 1/2;
grid-column: 2/3;
align-self: flex-end;
}

.reception-food-stack p
{
grid-row: 2/3;
grid-column: 2/3;
margin: 1em 2em 1em 1em;
}

.reception-food-stack div:nth-child(4)
{

  grid-row: 3/4;
  grid-column: 2/3;
  align-self: flex-end;
  padding: 1em 2em 2em 1em;
}


.reception-food-stack #cateringtitle
{
grid-row: 4/5;
grid-column: 1/3;
margin: 1em 13em 0;
}

.reception-food-stack div:nth-child(6)
{

  grid-row: 5/6;
  grid-column: 1/3;
  align-self: flex-start;
  padding: 0 10em 0;
  margin: 0 0 2em 0;
}




.services .services-smaller
{
   padding: 1em 1em 1em 10vw;
}
.services .services-smaller h2
{
text-align: left;
padding-left: 3vw;
}



.reception-text-stack h2
{

font-size: 6.5em;

}

.reception-text-stack h3
{
font-size: 4.5em;
}

.reception-text-stack img
{

    padding: 5em 1em 1em 10em;
    text-align: center;

}





.missionary-stack
{
display: grid;
grid-template-columns: 1fr 1fr;
}

.missionary-stack div:nth-child(1)
{
    grid-row: 1/4;
  grid-column: 1/2;
  padding: 3em 2em 2em 2em;
  width: 100%;
}
.missionary-stack div:nth-child(1) img
{
margin: 0;
padding: 0;
width: 100%;
}

.missionary-stack h2
{
text-align: left;
padding: 2em 1em 1em 0.5em;
grid-row: 1/2;
grid-column: 2/3;
align-self: flex-end;


  position: inherit;
  top: auto;
  width: 100%;


}

.missionary-stack p
{
grid-row: 2/3;
grid-column: 2/3;
margin: 1em 2em 1em 1em;
}

.missionary-stack div:nth-child(4)
{

  grid-row: 3/4;
  grid-column: 2/3;
  align-self: flex-end;
  padding: 1em 2em 2em 1em;
}




.convenience-pane img
{
margin-left: 3em;
}

.convenience-pane .services-darker
{
font-size: 1.2em;

justify-self: flex-start;
text-align: right;
width: 45%;
margin-right: 2em;
margin-bottom: 1.5em;
}


.reception-food-stack .catering-menu div
{
    margin: 0;
    padding: 0;
    min-width: 0;
    width: 100%;
}



/*----------- FOOTER --------------*/
    
} /* end of media query */