/* 35em is also 560px (if basefont is 16px) */
@media only screen and (min-width: 35rem) {


/*----------- BODY --------------*/



/*----------- HEADER --------------*/



/*----------- NAVIGATION --------------*/

nav ul {
  width: 40%;
}

/*----------- MAIN --------------*/

.content {
  grid-template-columns: 1fr 1fr;
}
.content section:nth-child(1) {
  grid-column: span 2;
}

.content section:nth-child(5), /*SPOTLIGHTS*/
.content section:nth-child(6) {
  grid-row: 3;
}

.content section:nth-child(7) {/*JOIN SECTION*/
  display: block;
  grid-row: 4;
  grid-column: span 2;
  }

    /* NEWS RELEASE */
    .content section:nth-child(4) {
    grid-row: 2;
    grid-column: span 2;
    }

    .discover-grid{
      margin: 4rem;
      grid-gap: 2rem; 
    }

    .directory-grid section {
      grid-template-columns: 2fr;
    }

    .panelview {
      grid-template-columns: 1fr 1fr;
  }

  .spotlight img {
    width: 60%;
  }

  #forecast-container
{
max-width: 28em;
}

#forecast-div{
  grid-gap: 1em 4em;
  padding: 0 3em;
}



.hero-action img{
  object-position: 50% 0%;
}


.spotlight ul
{
    width: 70%;
}


.section-news-container
{
grid-template-columns: 1fr 1fr 1fr;
}

.section-news-container .divchild:nth-child(1)
{
grid-column: 1/4;
}


.section-news-container .divchild:nth-child(3)
{
grid-column: 1/3;
grid-row: 2/3;
}

.section-news-container .divchild:nth-child(4)
{
grid-column: 3/4;
grid-row: 2/3;
}
.section-news-container .divchild:nth-child(5)
{
grid-column: 1/4;
grid-row: 3/4;
}
.section-news-container .divchild:nth-child(6)
{
grid-column: 1/4;
grid-row: 4/5;
}
.section-news-container .divchild:nth-child(7)
{
grid-column: 1/4;
grid-row: 5/6;
}


main h1 {

  margin: 1em 1.5em;
  text-align: left;
}

.section-news
{
    margin: 2.5em 1.5em 1em;
}

.hero-action h2 {
  font-size: 1.6em;
}



.specialized
{
    position: relative;
    margin-top: 1em;
}
.specialized div
{
    position: absolute;
    margin-top: 50%;
    margin-left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.specialized ul
{
    width:85%;
    font-size: 0.6em;
    line-height: 1.5em;
}

.specialbox p
{
font-size: medium;
color: white;

}
.specialbox figcaption
{

    width: 90%;
  
}



.date {
  margin: 1rem 0 0.5rem 0;
}


button {
  background-color:#0c2920c5;
}

.hero-action button {
  transform: translate(-50%, 2.5em);
}

.p-space
{
    margin: 4.5vw 0;
}

.event-info {
  width: 75%;
}

/*----------- FOOTER --------------*/
    
.foot-logo-box{
    display: flex;
  justify-content: space-between;
  align-items: center;
}


} /* end of media query */