/* 35em is also 560px (if basefont is 16px) */
@media only screen and (min-width: 35rem) {


/*----------- BODY --------------*/



/*----------- HEADER --------------*/



/*----------- NAVIGATION --------------*/

nav ul {
  width: 40%;
}

/*----------- MAIN --------------*/

.content {
  grid-template-columns: 1fr 1fr;
}
.content section:nth-child(1) {
  grid-column: span 2;
}

.content section:nth-child(5), /*SPOTLIGHTS*/
.content section:nth-child(6) {
  grid-row: 3;
}

.content section:nth-child(7) {/*JOIN SECTION*/
  display: block;
  grid-row: 4;
  grid-column: span 2;
  }

    /* NEWS RELEASE */
    .content section:nth-child(4) {
    grid-row: 2;
    grid-column: span 2;
    }

    .discover-grid{
      margin: 4rem;
      grid-gap: 2rem; 
    }

    .directory-grid section {
      grid-template-columns: 2fr;
    }

    .panelview {
      grid-template-columns: 1fr 1fr;
  }

  .spotlight img {
    width: 60%;
  }

  #forecast-container
{
max-width: 28em;
}

#forecast-div{
  grid-gap: 1em 4em;
  padding: 0 3em;
}



.hero-action img{
  object-position: 50% 0%;
}


.spotlight ul
{
    width: 70%;
}


.section-news-container
{
grid-template-columns: 1fr 1fr 1fr;
}

.section-news-container .divchild:nth-child(1)
{
grid-column: 1/4;
}


.section-news-container .divchild:nth-child(3)
{
grid-column: 1/3;
grid-row: 2/3;
}

.section-news-container .divchild:nth-child(4)
{
grid-column: 3/4;
grid-row: 2/3;
}
.section-news-container .divchild:nth-child(5)
{
grid-column: 1/4;
grid-row: 3/4;
}
.section-news-container .divchild:nth-child(6)
{
grid-column: 1/4;
grid-row: 4/5;
}
.section-news-container .divchild:nth-child(7)
{
grid-column: 1/4;
grid-row: 5/6;
}


main h1 {

  margin: 1em 1.5em;
  text-align: left;
}

.section-news
{
    margin: 2.5em 1.5em 1em;
}

.hero-action h2 {
  font-size: 1.6em;
}



.specialized
{
    position: relative;
    margin-top: 1em;
}
.specialized div
{
    position: absolute;
    margin-top: 50%;
    margin-left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.specialized ul
{
    width:85%;
    font-size: 0.6em;
    line-height: 1.5em;
}

.specialbox p
{
font-size: medium;
color: white;

}
.specialbox figcaption
{

    width: 90%;
  
}



.date {
  margin: 1rem 0 0.5rem 0;
}


.homepage button {
  background-color:#0c2920c5;
}

.hero-action button {
  transform: translate(-50%, 2.5em);
}

.p-space
{
    margin: 4.5vw 0;
}

.event-info {
  width: 75%;
}



.cards section
{
    grid-template-columns: 1fr 1fr;
    border-radius: 1.5em;
}

.cards section p
{
  margin: 0;
}

.cards section h2{
  grid-column: 1/3;
}

/* address */
.cards section p:nth-child(2)
{
  grid-row: 2/3;
  grid-column: 1/3;
}

.cards section p:nth-child(3)
{
  grid-column: 1/2;
  grid-row: 3/4;

}

/* email */
.cards section p:nth-child(4) 
{
  grid-column: 2/3;
  grid-row: 3/4;
}

/* services */
.cards section div:nth-child(5) 
{
/* grid-row: 4/5;
grid-column: 1/2; */
grid-row: 4/5;
grid-column: 2/3;
align-self: center;
}

/* history */
.cards section div:nth-child(6) 
{
grid-column: 1/2;
grid-row: 5/6;
}

 /* ordinance schedule */
.cards section p:nth-child(7)
{
grid-column: 1/3;
grid-row: 6/7;
align-self: center;
margin-top: 3em;
margin-bottom: 1em;
}
/* session schedule */
.cards section p:nth-child(8)
{
grid-column: 1/3;
grid-row: 7/8;
margin-bottom: 3em;
}

/* closures */
.cards section div:nth-child(9)
{
/* grid-column: 2/3;
grid-row: 5/7; */
grid-row: 4/5;
grid-column: 1/2;
}

.cards section div:nth-child(10) 
{
grid-column: 2/3;
grid-row: 5/6
}



.form-page
{
    position: relative;
    min-height: 52em;
}

#contact-form
{
  min-height: 2em;
  margin-bottom: 2em;
}

.form-page img
{
  position: absolute;
  left: 0;
  top: 0;
    width: 100%;
    height: auto;
    min-height: 51em;
    object-fit: cover;
}

.form-container
{
  position: absolute;
  margin-left: 50%;
  margin-right: -50%;
  transform: translateX(-50%);
  top: 0;
}
.form-container form
{
  box-shadow: 5px 5px 25px black;
}


.cards section
{
    background-image: linear-gradient( #e9c93b , #ccab51 47%, rgb(212, 188, 80) 48%, rgb(209, 158, 47) 55%, #c99e40 99%, #0a2442);
}


.service-left
{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.service-left div:nth-child(1)
{
  align-self: center;
}

.service-left div:nth-child(3)
{
 grid-column: 1/3;
 justify-self: flex-end;
}

.service-right
{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.service-right div:nth-child(1)
{
    grid-column: 2/3;
    grid-row: 1/2;
    align-self: center;
}
.service-right div:nth-child(2)
{
    grid-column: 1/2;
    grid-row: 1/2;
}



.reception-food-stack div:nth-child(1)
{
    width: 50%;
    min-width: 400px;
    padding: 3em 1em 1em 3em;
}
.reception-food-stack h2
{
text-align: left;
padding: 0em 0 1em 2em;
font-size: 1.7em;
}

.reception-food-stack div:nth-child(4)
{
   max-width: 800px;
   margin: 0 auto;
}

.missionary-stack
{
position: relative;
}



.missionary-stack div:nth-child(1)
{
    width: 50%;
    min-width: 400px;
    padding: 3em 3.5em 1em 3em;
    margin: 0 0 0 auto;
}
.missionary-stack h2
{
text-align: right;
padding: 0em 2em 1em 2em;
font-size: 1.7em;
}




.reception-text-stack h2
{

font-size: 4.5em;

}

.reception-text-stack h3
{
font-size: 3em;
}


.convenience-pane
{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.convenience-pane img
{
min-width: 250px;
}
.convenience-pane .services-darker
{
font-size: 0.9em;
align-self: center;

}


.reception-food-stack .catering-menu
{
 display: grid;
 grid-template-columns: 1fr 1fr;
}

.reception-food-stack .catering-menu div
{
    margin: 0;
    padding: 0;
    min-width: 0;
    width: 100%;
}

/*----------- FOOTER --------------*/
    
.foot-logo-box{
    display: flex;
  justify-content: space-between;
  align-items: center;
}


} /* end of media query */


/* 35em is also 560px (if basefont is 16px) */
@media only screen and (min-width: 45rem) {


.missionary-stack h2
{
  position: absolute;
  top: 19%;
  width: 50%;
  text-align: left;
}


}


