/* CSS that only applies to color-scheme.html  */


#color-grid {
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 3em;
  font-weight: bolder;
  font-size: 1.2em;
  }

  #color-grid div{
      border: 1px solid #fff;
      padding: 1em;
  }
  #color-grid div:nth-child(1) {
      background-color: var(--section-background-color);
      color: black;
  }
  #color-grid div:nth-child(2) {
      background-color: var(--section-background-color);
      color: black;
  }
  
  #color-grid div:nth-child(5) {
      background-color: #7cccfa;;
      color: black;
  }
  #color-grid div:nth-child(6) {
      background-color: var(--secondary-color);
      color: #eee;
  }
  #color-grid div:nth-child(7) {
      color: #eee;
  }
  #color-grid div:nth-child(8) {
      background-color: #697e4b;
      color: #eee;
  }
  
  #color-grid div:nth-child(9) {
      color: var(--main-headings-color);
  }
  #color-grid div:nth-child(12) {
      color: var(--main-headings-color);
  }
  #color-grid div:nth-child(14) {
      background-color: var(--section-background-color);
      color: black;
  }
  #color-grid div:nth-child(15) {
      background-color: var(--section-background-color);
      color: black;
  }